<div>
  Total results : <%= @results.size %>
</div>
<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :url_link) %></th>
      <th>Keyword</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.url_link %></td>
        <td><%= result.keyword.word %></td>
        <td><%= result.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
