<h4>
  Query Data
</h4>
<%= search_form_for @q do |f| %>
  <%= f.label :url_link_cont %>
  <%= f.search_field :url_link_cont %>
  <%= f.submit class: "button btnFade btnRed" %>
<% end %>
<%= render 'results'%>
