<h4>
  Keyword Summary
</h4>
<div>
  <table>
    <tr>
      <td>ID</td>
      <td><%= @keyword.id %></td>
    </tr>
    <tr>
      <td>KEYWORD</td>
      <td><%= @keyword.word %></td>
    </tr>
    <tr>
      <td>NUMBER OF ADS ON TOP</td>
      <td><%= @keyword.no_of_ads_top %></td>
    </tr>
    <tr>
      <td>NUMBER OF ADS ON BOTTOM</td>
      <td><%= @keyword.no_of_ads_bottom %></td>
    </tr>
    <tr>
      <td>NUMBER OF TOTAL ADS</td>
      <td><%= @keyword.no_of_total_ads %></td>
    </tr>
    <tr>
      <td>NUMBER OF NON AD RESULTS</td>
      <td><%= @keyword.no_of_non_ads %></td>
    </tr>
    <tr>
      <td>NUMBER OF TOTAL LINKS ON PAGE</td>
      <td><%= @keyword.no_of_links %></td>
    </tr>
    <tr>
      <td>TOTAL RESULTS</td>
      <td><%= @keyword.total_results %></td>
    </tr>
    <tr>
      <td>SEARCHED AT</td>
      <td><%= @keyword.created_at %></td>
    </tr>
  </table>
</div>
<h5>Keyword Urls</h5>
<table>
  <tr>
    <th>URL ID</th>
    <th>URL TYPE</th>
    <th>URL LINK</th>
  </tr>
  <% @keyword_urls.each do |url| %>
    <tr>
    <td><%= url.id %></td>
    <td><%= url.url_type %></td>
    <td><%= url.url_link %></td>
    </tr>
  <% end %>
</table>
