@import 'foundation_and_overrides';
@import "font-awesome";
@import 'variables';
@import 'footer';
@import 'navbar';

.container {
  min-height: 65vh;
  width: 70%;
  margin: 4em auto;
}
#sessions-container, #registrations-container, #passwords-container {
  width: 50%;
}
#error_explanation {
  color: $orange;
  h2 {
    font-size: 18px;
  }
}
a{
  color: $red;
}
input {
  border-radius: 5px !important;
}
label {
  margin-bottom: 6px;
}
h2{
  text-align: center;
}
h4 {
  text-align: center;
  font-weight: bold;
  color: $white;
  background: $orange;
  border-radius: 5px;
}
a.button, .button, input.button {
  display: block;
  padding: 0 20px;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s;
}
.btnRed {
  background: $orange;
}
.btnFade.btnRed:hover {
  background: $red;
}
.btnSmall {
  padding: 6px !important;
  line-height: unset !important;
  font-size: 14px !important;
}
p.alert {
  text-align: center;
  background: #f5f48e78;
  border-radius: 5px;
  padding: 0.5em 0;
}
table {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 2em;
}
