// @import 'variables'
.footer-row {
  background-color: $dark-grey;
  width: 100%;
  padding: 45px 50px;
}

.footer-row p{
  color: $white;
  font-weight: bold;
  .footer-links {
    color: $red;
    font-size: 16px;
    margin: 0 0 10px;
    transition: ease .25s;
  }
}
.footer-row .footer-links a {
  color: $orange !important;
  font-size: 20px;
}

.footer-row .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: $white;
  display: inline-block;
  padding-right: 5px;
}

.footer-row .footer-links .link-1:before {
  content: none;
}

.footer-row .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-row .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: $orange;
  border-radius: 2px;
  font-size: 20px;
  color: $white;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-row .footer-right a:hover {
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
}

// @media (max-width: 600px) {
//   .footer-row .footer-left, .footer-row .footer-right {
//     text-align: center;
//   }
//   .footer-row .footer-right {
//     float: none;
//     margin: 0 auto 20px;
//   }
//   .footer-row .footer-left p.footer-links {
//     line-height: 1.8;
//   }
// }
