<h4>
  List of Uploaded CSV's
</h4>

<table>
  <tr>
    <th>CSV ID</th>
    <th>FILE NAME</th>
    <th>UPLOADED BY</th>
    <th>UPLOADED AT</th>
    <th>VIEW</th>
  </tr>
  <% @all_csvs.each do |csv| %>
    <tr>
    <td><%= csv.id %></td>
    <td><%= csv.filename %></td>
    <td><%= csv.user.email %></td>
    <td><%= csv.created_at %></td>
    <td><%= button_to "VIEW", csv_path(csv), method: :get, class: "button btnFade btnRed btnSmall" %></td>
    </tr>
  <% end %>
</table>
