<%= form_for(:csv, :url=>{:action=>"create"}, :html => { :multipart => true }) do |f| %>
<table>
  <tr>
    <td>
      <b><h4>Select a csv file to update google search data:</b></h4><br>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.file_field :file%>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.submit "Submit", class: "button btnFade btnRed" %>
    </td>
  </tr>
</table>
<% end %>
