<h4>
  CSV Summary
</h4>
<table>
  <tr>
    <td><b>ID</b></td>
    <td><%= @csv.id %></td>
  </tr>
  <tr>
    <td><b>FILE NAME</b></td>
    <td><%= @csv.filename %></td>
  </tr>
  <tr>
    <td><b>UPLOADED BY</b></td>
    <td><%= @csv.user.email %></td>
  </tr>
  <tr>
    <td><b>UPLOADED AT</b></td>
    <td><%= @csv.created_at %></td>
  </tr>
</table>

<h5>Keywords in CSV</h5>
<table>
  <tr>
    <th>KEYWORD ID</th>
    <th>KEYWORD</th>
    <th>TOTAL RESULTS</th>
    <th>CREATED AT</th>
    <th>VIEW</th>
  </tr>
  <% @keywords.each do |kw| %>
    <tr>
    <td><%= kw.id %></td>
    <td><%= kw.word %></td>
    <td><%= kw.total_results %></td>
    <td><%= kw.created_at %></td>
    <td><%= button_to "VIEW RESULTS", keyword_path(kw), method: :get, class: "button btnFade btnRed btnSmall" %></td>
    </tr>
  <% end %>
</table>
