<h4>
  All Past Reports
</h4>

<table>
  <tr>
    <th>REPORT ID</th>
    <th>FILE NAME</th>
    <th>UPLOADED BY</th>
    <th>UPLOADED AT</th>
    <th>VIEW</th>
  </tr>
  <% @reports.each do |report| %>
    <tr>
    <td><%= report.id %></td>
    <td><%= report.title %></td>
    <td><%= report.user.email %></td>
    <td><%= report.created_at %></td>
    <td><%= button_to "VIEW", report_path(report), method: :get, class: "button btnFade btnRed btnSmall" %></td>
    </tr>
  <% end %>
</table>
