<h4>
  Report on <%= @report.created_at %>
</h4>
<table>
  <tr>
    <% @headers.each do |h| %>
      <th><%= h %></th>
    <% end %>
  </tr>
  <% @data.each do |i, dp| %>
    <tr>
      <% dp.each do |k, v| %>
        <td><%= v.gsub('"','') %></td>
      <% end %>
    </tr>
  <% end %>
</table>
