<footer class="footer-row">
	<div class="footer-right">
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-linkedin"></i></a>
		<a href="#"><i class="fa fa-github"></i></a>
	</div>
	<div class="footer-left">
		<p class="footer-links">
			<%= link_to "Home", csvs_path, class: 'link-1' %>
			<%= link_to "CSVs", csvs_path %>
			<%= link_to "Reports", reports_path %>
		  <%= link_to "Query", urls_path %>
			<a href="#">Faq</a>
			<a href="#">Contact</a>
    </p>
		<p>Google Search Keyword App &copy; <%= Time.now.year %></p>
	</div>
</footer>
