<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><b><%= link_to "Google Search Keyword App", csvs_path %></b></h1>
      </li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
        <li class="has-dropdown">
          <a href="#">CSV</a>
          <ul class="dropdown">
            <li><%= link_to "View CSV Data", csvs_path %></li>
            <li><%= link_to "View Keywords Data", csvs_path %></li>
            <li><%= link_to "Upload a new CSV", new_csv_path %></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="#">Reports</a>
          <ul class="dropdown">
            <li><%= link_to "Create a New Report", new_report_path %></li>
            <li><%= link_to "View Past Reports", reports_path %></li>
            <li><%= link_to "Query Data", urls_path %></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="#">Settings</a>
          <ul class="dropdown">
            <li><a href="#">Profile Info</a></li>
            <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>
